<!DOCTYPE html>
<html lang="es">
<head>
  <title>Plan de Estudios</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Plan de Estudios</h2>
  <br>
  <br>
  <br>
  <table class="table">
    <thead>
      <tr>
      	 <th>Siglas</th>
        <th>Nombre del Curso</th>
        <th>Creditos</th>
        <th>&Aacute;rea</th>
        <th>Ciclo</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="cursos : ${cursos}">
      	<td><span th:text="${cursos.siglaCurso}"></span></td>
        <td><span th:text="${cursos.nombreCurso}"></span></td>
        <td><span th:text="${cursos.credictos}"></span></td>
        <td><span th:text="${cursos.area}"></span></td>
        <td><span th:text="${cursos.ciclo}"></span></td>
      </tr>      
    </tbody>
  </table>
</div>

</body>
</html>