<!DOCTYPE html>
<head>
<title>Orbis</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<h1>Libros </h1>
		<div class="row col-md-7 table-responsive">
			<table id="customerTable" class="table">
				<thead>
					<tr>
						<th>Codigo Editorial</th>
						<th>Nombre</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="libro, rowStat: ${libros}">
						<td th:text="${libro.idLibro}"></td>
						<td th:text="${libro.titulo}"></td>
						<td th:text="${libro.anio}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>