<!DOCTYPE html>
<html>
<head>
<title>Main Screen</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div id="internalization">
		<button data-tr="Spanish" id="btn-es" class="btn btn-default"></button>
		<button data-tr="English" id="btn-en" class="btn btn-default"></button>
	</div>

	<div class="container">

		<div class="row">

			<div id="colformGroups" class="col-sm-4 text-center">

				<div id="panelGroups" class="panel panel-default">

					<div class="panel panel-primary">
						<div class="table-wrapper-scroll-y my-custom-scrollbar">
							<div id="roomsList" class="row" th:each="room: ${rooms}">
								<div id="idImage"class="col-md-2">
								<img th:src="@{${room.avatar}}" height="25" width="25">
								</div>
													
								<div id="roomList" class="col-md-8">
									<button th:id="${room.id}" th:text="${room.name}" class="btn btn-primary" id="groupButton" th:value="${room.name}"></button>
									<!--  <span th:text="${room.name}"></span>-->
								</div>
							</div>
						</div>
					</div>
				</div>

				<button id="buttonCreate" type="button" class="btn"
					data-toggle="modal" data-target="#ModalCreateGroup" data-tr="Create	Group"></button>
			</div>

			<div id="colformChat" class="col-sm-8 text-center" >

				<div id="panelTop" class="panel panel-default">

					<div class="panel-heading">

						<div class="pull-left">

							<h3 class="panel-title" id = "roomName"></h3>

						</div>

						<div class="dropdown">
							<span id="glyphAdd" class="glyphicon glyphicon-plus-sign"
								data-toggle="dropdown"></span>

							<ul id="dropDown" class="dropdown-menu dropdown-menu-right"
								aria-labelledby="dropdownMenu1">
								<li><a href="#" onclick="" data-toggle="modal"
									data-target="#ModalNewMember" data-tr="New Member"></a></li>
							</ul>

							<div class="pull-right">
								<span id="glyphUser" class="glyphicon glyphicon-user"
									data-toggle="dropdown"></span>

								<ul class="dropdown-menu dropdown-menu-center"
									aria-labelledby="dropdownMenu2">
									<li><a href="#" onclick="" data-toggle="modal"
										data-target="#ModalAboutUs" data-tr="About Us"></a></li>
									<li><a href="/login" data-tr="Log Out"></a></li>
								</ul>
							</div>

						</div>

					</div>

				</div>

				<div id="panelMessages" class="panel panel-default">

					<div id="internalPanel" class="panel panel-primary">

						<div id="containerMessages" class="table-wrapper-scroll-y my-custom-scrollbar">

							<div id="item" class="text">
							
							</div>

						</div>

					</div>

				</div>

				<div class="row" style="display: none;" id="rowMensajes">

					<div class="col-sm-10 text-center">

						<div id="messageInput" class="form-group" >
							<label for="message"></label> <input id="messageForm" type="text"
								class="form-control" maxlength="500">
						</div>
					</div>

					<div class="col-sm-2 text-center">

						<div id="btnSendMessage">
							<a href="#" class="btn btn-primary btn-circle"> <span
								class="glyphicon glyphicon-play" onclick="getValues()"></span>
							</a>
							
						</div>
						
					</div>

				</div>

			</div>

	</div>

	<!-- Modal Add Member-->

	<div id="ModalNewMember" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" data-tr="Invite New Members"></h4>
				</div>

				<div id="inputGroup" class="form-group">
					<label for="usr" data-tr="Members Emails"></label> <input type="text"
						class="form-control" id="newGroupMember">
				</div>

				<div class="modal-footer">
					<input type="submit" class="btn btn-primary" id="invite" data-tr="Invite">
					<button type="button" class="btn btn-default" data-dismiss="modal" data-tr="Close"></button>
				</div>

			</div>

		</div>

	</div>

	<!-- Modal Create Chat-->

	<div id="ModalCreateGroup" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" data-tr="New Chat Room"></h4>
				</div>
				<div id="inputGroup" class="form-group">
					<label for="usr" data-tr="Group Name"></label> <input type="text"
						class="form-control" id="newGroup">
				</div>

				<div class="modal-footer">
					<button id="create" type="submit" class="btn btn-primary" data-tr="Create"></button>
					<button type="button" class="btn btn-default" data-dismiss="modal" data-tr="Close"></button>
				</div>
			</div>

		</div>
	</div>


	<!-- Modal About Us-->

	<div id="ModalAboutUs" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" data-tr="Chat App Project"></h4>
				</div>
				<div id="AboutUs" class="modal-body">
					<p data-tr="University of Costa Rica"></p>
					<p data-tr="Atlantic Headquarters"></p>
					<p data-tr="Enclosure Paraiso"></p>
					<br>
					<p data-tr="Programming Languages"></p>
					<br>
					<p data-tr="Programmers"></p>
					<p>JeanCarlo Monge Mendez</p>
					<p>Valeria Leiva Quiros</p>
					<p>Karen Guillen Arguello</p>
					<p>Leonardo Gomez Rodriguez</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" data-tr="Close"></button>
				</div>
			</div>

		</div>
	</div>
</div>
</body>



<script type="text/javascript">

frases = {
		"es" : {
			"University of Costa Rica" : "Universidad de Costa Rica",
			"Programmers" : "Programadores",
			"Atlantic Headquarters" : "Sede del Atlántico",
			"Programming Languages" : "Lenguajes de Programación",
			"Enclosure Paraiso" : "Recinto de Paraíso",
			"Create	Group" : "Crear Grupo",
			"New Member" : "Nuevos Miembros",
			"About Us" : "Acerca De Nosotros",
			"Log Out" : "Cerrar Sesión",
			"Invite New Members" : "Invitar Nuevos Miembros",
			"Members Emails" : "Correos Nuevos Miembros",
			"Invite" : "Invitar",
			"New Chat Room" : "Nueva Sala",
			"Group Name" : "Nombre Del Grupo",
			"Chat App Project" : "Proyecto De Mensajeria Web",
			"Create" : "Crear",
			"Close" : "Cerrar",
			"Close" : "Cerrar",
			"Spanish" : "Español",
			"English" : "Ingles"
		}
	};

	/**
	 * Función que cambia todos los elementos al nuevo idioma.
	 *
	 * @param {string} lang
	 */
	function cambiarIdioma(lang) {
		var elems = document.querySelectorAll('[data-tr]');
		for (var x = 0; x < elems.length; x++) {
			elems[x].innerHTML = frases.hasOwnProperty(lang) ? frases[lang][elems[x].dataset.tr]
					: elems[x].dataset.tr;
		}

	}

	window.onload = function() {
		cambiarIdioma();

		document.getElementById('btn-es').addEventListener('click',
				cambiarIdioma.bind(null, 'es'));

		document.getElementById('btn-en').addEventListener('click',
				cambiarIdioma.bind(null, 'en'));

	}


	function getValues() {

		var messageChat = document.getElementById("messageForm").value;

		 document.getElementById("item").innerHTML += '<img src="https://i.ibb.co/qykwRR1/img17.png" height="25" width="25"> <div id="item" class="text">'
				+ messageChat + '</div>';

				var DivPannelMsg =document.getElementById("containerMessages");
				
				DivPannelMsg.scrollTop = DivPannelMsg.scrollHeight;
				
		clean();
	}

	function clean() {
		document.getElementById("messageForm").value = "";
	}

	var messageForm = document.getElementById("messageForm");
	messageForm.addEventListener("keydown", function(e) {
		if (e.keyCode === 13) { //checks whether the pressed key is "Enter"

			getValues();

		}
	});
	var seleccionarGrupo = $("#btnSeleccionargropo");
	var create = $("#create");
	var newGroup = $("#newGroup");
	var obj = {
		"name" : newGroup,
		"version" : 0,
		"url" : "",
		"avatar" : null,
		"listUsers" : [],
		"listMessage" : []
	};
	$("#create")
			.click(
					function() {

						obj.name = newGroup.val();

						$.ajax({
							method : "POST",
							data : JSON.stringify(obj),
							contentType : "application/json; charset=utf-8",
							dataType : "json",
							url : "api/ChatRoom"
						}).done(function(data) {
							console.log('DONE')
							window.location.reload();
						}).fail(function()  {
							console.log('FAIL')
						    window.location.reload();
						});;

						$('#ModalCreateGroup').modal('toggle');

						/*document.getElementById("roomsList").innerHTML += '<div id="roomsList" class="row">'
								+ '<div class="col-md-4">'
								+ '</div>'
								+ '<div class="col-md-8">'
								+ '<span>'
								+ newGroup.val() + '</span>' + '</div>'
						'</div>'*/
					});
	
	//Boton para cuando se escoge un grupo
	var idRoom;
	$("button").click(function() {
		var text = this.value;
		idRoom = this.id;
		var grup = {
				"id" : this.id,
				"name" : text,
				"version" : 0,
				"url" : "",
				"avatar" : null,
				"listUsers" : [],
				"listMessage" : []
			};
		//alert(this.id); // or alert($(this).attr('id'));
		document.getElementById('roomName').innerHTML = this.value;
		document.getElementById('rowMensajes').style.display = 'block';
		console.log(grup);
		$.ajax({
			method : "GET",
			data : JSON.stringify(grup),
			contentType : "application/json; charset=utf-8",
			dataType : "json",
			url : "api/ChatRoom"
		}).done(function(data) {

		}).fail(function(data)  {
			console.log(data);
			
			
			document.getElementById("roomsList").innerHTML += '<div id="roomsList" class="row">'
			+ '<div class="col-md-4">'
			+ '</div>'
			+ '<div class="col-md-8">'
			+ '<span>'
			+ newGroup.val() + '</span>' + '</div>'
	'</div>'
		});

	});



	/*function seleccionarGrupo(elem) {
		console.log(elem);
		var txt = elem.textContent || elem.innerText;
		document.getElementById('roomName').innerHTML = txt;
	}*/

	var invite = $("#invite");
	var newGroupMember = $("#newGroupMember");
	var objMember = {
		"avatar" : "",
		"email" : newGroupMember,
		"name" : "",
		"Rol" : {
			"name" : ""
		}
	};
	$("#invite").click(function() {

		objMember.email = newGroupMember.val();

		$.ajax({
			method : "POST",
			data : JSON.stringify(objMember),
			contentType : "application/json; charset=utf-8",
			dataType : "json",
			url : "api/User"
		}).done(function(data) {
			alert("Exito");
		});
	});
	
	
	
</script>
<style>

#internalization {
	margin-top: 25px;
	margin-left: 75%;
}

.my-custom-scrollbar {
	position: relative;
	height: 415px;
	overflow: auto;
}

.table-wrapper-scroll-y {
	display: block;
}

body {
	background-image:
		url(https://oinkmygod.com/wp-content/uploads/2018/03/recurso-wall-paper-oinkmygod-1-600x600.jpg);
}


.container {
	margin-top: 75px;
	margin-bottom: 50px;
}

.text {
	color: black;
}

.btn{
width:100%;
}

#idImage{
margin-top: 25px;
margin-left: 25px;
}

#roomList{
margin-top: 20px;
}

#item {
	margin-top: 10px;
	margin-left: 10px;
	height: auto;
	width: auto;
	text-align: left;
}

#searchBar {
	margin-top: 25px;
}

#buttonCreate {
	margin-right: 30px;
}

#colformGroups {
	border-radius: 25px;
	border-style: ridge;
	border: 2px ridge #3D6F99;
	width: 350px;
	height: 550px;
}

#panelMessages {
	border-radius: 25px;
	border-style: ridge;
	border: 2px ridge #3D6F99;
	width: 735px;
	height: 275px;
}

#btnSendMessage {
	margin-top: 130px;
}

#colformChat {
	margin-left: 25px;
	border-style: ridge;
	border-radius: 25px;
	border: 2px ridge #3D6F99;
	width: 775px;
	height: 550px;
}

#glyphAdd {
	font-size: 25px;
}

#AboutUs {
	font-size: 25px;
	text-align: center;
}

#glyphUser {
	font-size: 25px;
}

#inputGroup {
	font-size: 25px;
	margint-top: 25px;
	margin-left: 200px;
	width: 250px;
	height: 150px;
	margint-top: 25px;
}

#dropDown {
	left: 50%;
	right: auto;
	text-align: center;
	transform: translate(-50%, 0);
}

#panelTop {
	margin-top: 10px;
	width: 745px;
	border-style: ridge;
	border-radius: 25px;
	border: 2px ridge #3D6F99;
}

#messageInput {
	margin-top: 110px;
	width: 625px;
	margin-left: 50px;
}

#panelGroups {
	margin-top: 10px;
	width: 320px;
	height: 420px;
}

#newGroupMember {
	width: 200px;
}

#newGroup {
	width: 220px;
}

.panel-heading {
	min-height: 36px;
}
</style>

</html>
