<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<h1>Lista Libros</h1>
 <div th:if="${vacio}">
   <div>La editorial seleccionada no tiene libros asociados</div>
 </div>
	<table class="table table-striped">
	  <tr>
	    <th>Cod Libro</th>
	    <th>Nombre</th>
	    <th>Año</th>
	    <th>Precio</th>
	    
	    
	  </tr>
	    <tr th:each="libro : ${listaLibros}">
	    <td><span th:text="${libro.id_libro}"></span></td>
	    <td><span th:text="${libro.titulo}"></span></td>
	    <td><span th:text="${libro.ano}"></span></td>
	    <td><span th:text="${libro.precio}"></span></td>
	  </tr>
	</table>
</div>
</body>
</html>