<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Administracion</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
<div class="container">
<br>
  <h3 style="color: rgb(101, 180, 206) ;">Administracion</h3>
</div>
<div class="container">
<br>
  <table width="974" height="498" border="0">
  <tbody>
    <tr>
      <td width="500"  style="vertical-align: top;">
      	<p><span style="color: rgb(101, 180, 206);">Usuarios de la sala #</span></p><br>
      	<table width="425" border="0">
      	  <tbody>
      	    <tr>
      	      <td width="49">foto</td>
      	      <td width="203">Nombre_Usuario</td>
      	      <td width="73"><input type="button" name="button" id="button" value="Promover" class="alert-success"></td>
      	      <td width="82"><input type="button" name="button2" id="button2" value="Castigar" class="alert-danger"></td>
    	      </tr>
      	    <tr>
      	      <td>foto</td>
      	      <td>Nombre_Usuario</td>
      	      <td width="73"><input type="button" name="button3" id="button3" value="Promover" class="alert-success"></td>
      	      <td width="82"><input type="button" name="button4" id="button12" value="Castigar" class="alert-danger"></td>
    	      </tr>
      	    <tr>
      	      <td>foto</td>
      	      <td>Nombre_Usuario</td>
      	     <td width="73"><input type="button" name="button5" id="button4" value="Promover" class="alert-success"></td>
      	      <td width="82"><input type="button" name="button6" id="button13" value="Castigar" class="alert-danger"></td>
    	      </tr>
      	    <tr>
      	      <td>foto</td>
      	      <td>Nombre_Usuario</td>
      	      <td width="73"><input type="button" name="button7" id="button5" value="Promover" class="alert-success"></td>
      	      <td width="82"><input type="button" name="button8" id="button14" value="Castigar" class="alert-danger"></td>
    	      </tr>
      	    <tr>
      	      <td>foto</td>
      	      <td>Nombre_Usuario</td>
      	      <td width="73"><input type="button" name="button9" id="button6" value="Promover" class="alert-success"></td>
      	      <td width="82"><input type="button" name="button10" id="button15" value="Castigar" class="alert-danger"></td>
    	      </tr>
      	    <tr>
      	      <td>foto</td>
      	      <td>Nombre_Usuario</td>
      	      <td width="73"><input type="button" name="button11" id="button7" value="Promover" class="alert-success"></td>
      	      <td width="82"><input type="button" name="button12" id="button16" value="Castigar" class="alert-danger"></td>
    	      </tr>
      	    <tr>
      	      <td>foto</td>
      	      <td>Nombre_Usuario</td>
      	      <td width="73"><input type="button" name="button13" id="button8" value="Promover" class="alert-success"></td>
      	      <td width="82"><input type="button" name="button14" id="button17" value="Castigar" class="alert-danger"></td>
    	      </tr>
      	    <tr>
      	      <td>foto</td>
      	      <td>Nombre_Usuario</td>
      	     <td width="73"><input type="button" name="button15" id="button9" value="Promover" class="alert-success"></td>
      	      <td width="82"><input type="button" name="button16" id="button18" value="Castigar" class="alert-danger"></td>
    	      </tr>
      	    <tr>
      	      <td>foto</td>
      	      <td>Nombre_Usuario</td>
      	      <td width="73"><input type="button" name="button17" id="button10" value="Promover" class="alert-success"></td>
      	      <td width="82"><input type="button" name="button18" id="button19" value="Castigar" class="alert-danger"></td>
    	      </tr>
      	    <tr>
      	      <td>foto</td>
      	      <td>Nombre_Usuario</td>
      	      <td width="73"><input type="button" name="button19" id="button11" value="Promover" class="alert-success"></td>
      	      <td width="82"><input type="button" name="button20" id="button20" value="Castigar" class="alert-danger"></td>
    	      </tr>
    	    </tbody>
  	  </table>
      	<p>&nbsp;</p>
      	<br>
      
      </td>
      <td width="500" style="vertical-align: top;">
          <p><span style="color: rgb(101, 180, 206);">Metricas</span></p><br>
          
            <table width="436" border="0">
              <tbody>
                <tr>
                  <td width="231"><label>Cantidad de salas: </label></td>
                  <td width="189">#</td>
                </tr>
                <tr>
                  <td><label>Cantidad de usuarios:</label></td>
                  <td>#</td>
                </tr>
                <tr>
                  <td><label>Promedio de usuarios por grupo:</label></td>
                  <td>#</td>
                </tr>
                <tr>
                  <td><label>Fecha del ultimo mensaje:</label></td>
                  <td>#</td>
                </tr>
                <tr>
                  <td><label>Fecha del primer login:</label></td>
                  <td>#</td>
                </tr>
                <tr>
                  <td><label>Usuarios con más mensajes:</label></td>
                  <td>#</td>
                </tr>
                <tr>
                  <td><label>Mensajes más largos:</label></td>
                  <td>#</td>
                </tr>
                <tr>
                  <td><label>Último grupo creado:</label></td>
                  <td>#</td>
                </tr>
                <tr>
                  <td><label>Grupo con mas mensajes:</label></td>
                  <td>#</td>
                </tr>
              </tbody>
            </table>            <br>

      </td>
    </tr>
  </tbody>
</table>

</div>
</body>
</html>
