<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Administracion</title>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<img  src="firma-ucr-ico.png" alt="" width="193" height="100" class="img-fluid"/>
<div class="container" style="max-width: 600px; padding: 40px 20px;" >
	<h5 class="text-justify" style="color: rgb(101, 180, 206);">Información</h5>
    <table width="350" height="100" border="0">
  <tbody>
    <tr>
      <td><p style="color: rgb(101, 180, 206);" >Creador de la sala:</p></td>
      <td><label style="color: rgb(101, 180, 206);" th:text="#{usuario.NombreUsuario}" class="text-info">prueba</label></td>
    </tr>
	<tr>
      <td><p style="color: rgb(101, 180, 206);" >Administrador de la sala:</p></td>
      <td><label style="color: rgb(101, 180, 206);" th:text="#{usuario.NombreUsuario}" class="text-info">prueba</label></td>
    </tr>
  </tbody>
</table>
</div>
<div  class="container" style="max-width: 600px; padding: 40px 20px;" th:if="${participantes.lista != null}" >
    <h5 style="color: rgb(101, 180, 206);">Participantes</h5>
    <ul style="list-style-type:none;" >
       <li th:each="item : ${participantes.lista}" >prueba</li>
    </ul>
</div>
</body>
</html>