<html>

<head>
   <link rel="stylesheet" type="text/css" href="static/css/Estilos_chat.css" th:href="@{/css/Estilos_chat.css}">
</head>

<body>
    <div class="chat-index">
        <div class="chat-column-left">
            <div class="chat-profile">
                <i class="material-icons">UCR Live Messenger</i>
                <br>
                <div class="chat-profile_content">
                    <div class="avatar-user">
                        <img src="IMG/pc.png">
                    </div>
                    <div class="user-fullname">Lenguajes 2019</div>
                </div>
            </div>
            <div class="chat-list">
                <div class="chat-list_search">
                    <input type="text" placeholder="Conversaciones" id="search">
                </div>
                <div class="chat-list_rooms">
                    <div class="chat-list_content">
                        <div class="avatar">
                            <img src="IMG/ico.jpg">
                        </div>
                        <div class="chat-list_content_description">
                            <div class="chat-list_content_description_header">
                                    <!-- <label for="Name">th:text="${grupo.nombre}"</label -->>
                            </div>
                            <div class="chat-list_content_description_body">
                                <div class="chat-list_content_description_body_message">
                                    <!--<span>Lorem ipsum dolor sit amet.</span>-->
                                </div>
                                <div class="chat-list_content_description_body_time">
                                   <!-- <span>10.12.2019</span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-list_content">
                        <div class="avatar">
                            <img src="IMG/batman.png">
                        </div>
                        <div class="chat-list_content_description">
                            <div class="chat-list_content_description_header">
                                   <!--  <label for="Name">th:text="${grupo.nombre}"</label> -->
                            </div>
                            <div class="chat-list_content_description_body">
                                <div class="chat-list_content_description_body_message">
                                    <!--  <span>Lorem ipsum dolor sit amet.</span> -->
                                </div>
                                <div class="chat-list_content_description_body_time">
                                     <!-- <span>10.12.2019</span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-column-right">
            <div class="chat-info">
                <div class="chat-info_user">
                   <!--     <div class="chat-info_user_fullname">Conversación usuario actual</div> -->
                <!--    <div class="chat-info_user_last_visit">Última vez conectado: hace 5 minutos.</div>-->
                </div>
                <div class="chat-info_search">
                    <div class="chat-info_search_icon">
                    </div>
                </div>
            </div>
            <div class="chat-message">
                <div class="chat-message_content interlocutor-message">
                    <div class="chat-message_content_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
                        unde laboriosam facilis esse a rem pariatur sequi doloribus corporis doloremque?</div>
                    <div class="chat-message_content_date">
                         <!--10.12.2019 -->
                    </div>
                </div>
                <div class="chat-message_content interlocutor-message">
                    <div class="chat-message_content_text">Editors will often require specific character or word counts for your work. They do this for a variety of reasons—to save themselves from having to read entire novels, to test how clearly and concisely an essayist can write. The first thing an editor will check is your character or word count and if your essay is too long, it will be immediately disqualified. How Essay Contests Define Characters Characters are the basic building blocks of writing. Whether you are composing a writing contest entNI</div>
                    <div class="chat-message_content_date">
                         <!--10.12.2019 -->
                    </div>
                </div>
                <div class="chat-message_content interlocutor-message">
                    <div class="chat-message_content_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
                        unde laboriosam facilis esse a rem pariatur sequi doloribus corporis doloremque?</div>
                    <div class="chat-message_content_date">
                         <!--10.12.2019 -->
                    </div>
                </div>
                <div class="chat-message_content own-message">
                    <div class="chat-message_content_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
                        unde laboriosam facilis esse a rem pariatur sequi doloribus corporis doloremque?</div>
                    <div class="chat-message_content_date">
                         <!--10.12.2019 -->
                    </div>
                </div>
                <div class="chat-message_content own-message">
                    <div class="chat-message_content_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
                        unde laboriosam facilis esse a rem pariatur sequi doloribus corporis doloremque?</div>
                    <div class="chat-message_content_date">
                         <!--10.12.2019 -->
                    </div>
                </div>
                <div class="chat-message_content interlocutor-message">
                    <div class="chat-message_content_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
                        unde laboriosam facilis esse a rem pariatur sequi doloribus corporis doloremque?</div>
                    <div class="chat-message_content_date">
                        <!--10.12.2019 -->
                    </div>
                </div>
                <div class="chat-message_content interlocutor-message">
                    <div class="chat-message_content_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
                        unde laboriosam facilis esse a rem pariatur sequi doloribus corporis doloremque?</div>
                    <div class="chat-message_content_date">
                         <!--10.12.2019 -->
                    </div>
                </div>
                <div class="chat-message_content own-message">
                    <div class="chat-message_content_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
                        unde laboriosam facilis esse a rem pariatur sequi doloribus corporis doloremque?</div>
                    <div class="chat-message_content_date">
                       <!--10.12.2019 -->
                    </div>
                </div>
            </div>
            <div class="chat-form">
                <form action="#" class="chat-form_form">
                    <div class="chat-form_form_attach">
                    </div>
                    <div class="chat-form_form_message">
                        <textarea maxlength="500" id="Enviar" placeholder="Escribe un mensaje..."></textarea>
                        <script>
                            function maxLength(el) {
                                if (!('maxLength' in el)) {
                                    var max = el.attributes.maxLength.value;
                                    el.onkeypress = function () {
                                        if (this.value.length >= max) return false;
                                    };
                                }
                            }

                            maxLength(document.getElementById("Enviar"));
                        </script>
                    </div>
                    <div class="chat-form_form_submit">
                        <button>
                            <i class="material-icons">Enviar</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>