<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<link rel="stylesheet" type="text/css" href="static/css/EstilosChat.css"
	th:href="@{/css/EstilosChat.css}">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
</head>

<body>
	<div class="chat-index">
		<div class="chat-column-left">
			<div class="chat-profile">
				<i class="material-icons">UCR Live Messenger</i> <br>
				<div class="chat-profile_content">
					<div class="avatar-user">
						<img th:src="${usuario.avatar}">
					</div>
					<div class="user-fullname" th:text="${usuario.nombreUsuario}"></div>
				</div>
			</div>
			<div class="chat-list">
				<div class="chat-list_search">
					<label type="text" placeholder="Grupos" id="search">
				</div>
				<div class="chat-list_rooms">
					<div class="chat-list_content" th:each="grupo : ${grupos}">
						<div class="avatar"></div>
						<div class="chat-list_content_description">
							<div class="chat-list_content_description_header">
								<a th:href="@{'/interfazchat?hash='+${usuario.hash}+'&idGrupo='+${grupo.id}}">
	    						<span th:text="${grupo.nombre}"></span></a>
							</div>
							<div class="chat-list_content_description_body">
								<div class="chat-list_content_description_body_message">
									<span>Lorem ipsum dolor sit amet.</span>
								</div>

							</div>
						</div>
					</div>
					</tr>

				</div>

			</div>
		</div>
		<div class="chat-column-right">
			<div class="chat-info">
				<div class="chat-info_user">
					    <div class="chat-info_user_fullname">Conversación usuario actual</div>
					   <div class="chat-info_user_last_visit">última vez conectado: hace 5 minutos.</div>
					                    <label for="Name">th:text="${grupo.nombre}"</label>

				</div>

			</div>
			<div class="chat-message" th:each="mensaje : ${mensajes}">

				<div th:if="${!mensaje.usuario.getHash().equals(usuario.getHash())}">

					<div class="chat-message_content interlocutor-message">
						<div class="chat-message_content_text"
							th:text=${mensaje.contenido}>Contenido Interlocutor</div>
						<div class="chat-message_content_date">10.12.2019</div>
					</div>
				</div>

				<div th:if="${mensaje.usuario.getHash().equals(usuario.getHash())}">

					<div class="chat-message_content own-message">
						<div class="chat-message_content_text"
							th:text=${mensaje.contenido}>Contenido Propio</div>
						<div class="chat-message_content_date">10.12.2019</div>
					</div>
				</div>

			</div>
			<div class="chat-form">
				<form action="javascript:location.reload()"  class="chat-form_form">
					<div class="chat-form_form_attach"></div>
					<div class="chat-form_form_message">
						<textarea maxlength="500" id="Enviar"
							placeholder="Escribe un mensaje..."></textarea>
						<script>
							function maxLength(el) {
								if (!('maxLength' in el)) {
									var max = el.attributes.maxLength.value;
									el.onkeypress = function() {
										if (this.value.length >= max)
											return false;
									};
								}
							}

							maxLength(document.getElementById("Enviar"));
						</script >
					</div>
					<div class="chat-form_form_submit">
						<button id="botonEnviar">
							<i class="material-icons">Enviar</i>
						</button>
						
					
					<script th:inline="javascript">
						/*<![CDATA[*/ 
							
						var usuario =  /*[[${usuario.hash}]]*/, null;
						var contenido= $("#botonEnviar");
			var botonEnviar = $("#botonEnviar");
						
						var obj =     {
								"usuario": usuario,
						        "contenido": contenido,
/*  						        "grupo": grupo,
 */ 						    };
						botonEnviar.click(function(){
							
							
							obj.usuario=usuario.val();
							obj.contenido=contenido.val();
/* 							obj.grupo=grupo.val();
 */							

							$.ajax(	{
								method:"POST",
								data:JSON.stringify(obj),
								contentType:"application/json; charset=utf-8",
								url: "/api/mandarMensaje"
							}).done(function()  {
							    alert("Success.");
							    window.history.back();
							}).fail(function()  {
							    alert("Sorry. Error . ");
							    window.history.back();
							});
						});
					
						</script>

					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>