*.class
*.prefs
*.MF
*.classpath
*.project
*.cmd
*mvnw
/target
/settings
/mvn

B40894/Laboratorios/Laboratorio1/.metadata/.plugins/org.eclipse.core.resources/.history/f6/2031fac0c55100191fb0c161d8d11d3e
B40894/Laboratorios/Laboratorio1/.metadata/.plugins/org.eclipse.core.resources/.history/f3/f0b022abc75100191fb0c161d8d11d3e
B40894/Laboratorios/Laboratorio1/.metadata/.lock
B40894/Laboratorios/Laboratorio1/.metadata/.log
B40894/Laboratorios/Laboratorio1/.metadata/.plugins/org.eclipse.core.resources/.history/0/80383f47ca5100191fb0c161d8d11d3e
B40894/Laboratorios/Laboratorio1/.metadata/.plugins/org.eclipse.core.resources/.history/0/80f31c5fc95100191fb0c161d8d11d3e
B40894/Laboratorios/Laboratorio1/.metadata/.plugins/org.eclipse.core.resources/.history/0/90f41ecdb15100191fb0c161d8d11d3e
B40894/Laboratorios/Laboratorio1/.metadata/.plugins/org.eclipse.core.resources/.history/19/b0ccf3c0be5100191fb0c161d8d11d3e
B40894/Laboratorios/Laboratorio1/.metadata/.plugins/org.eclipse.core.resources/.history/1c/a02b202cbf5100191fb0c161d8d11d3e
B40894/Laboratorios/Laboratorio1/.metadata/.plugins/org.eclipse.core.resources/.history/1e/109af07cc95100191fb0c161d8d11d3e
B40894/Laboratorios/Laboratorio1/.metadata/.plugins/org.eclipse.core.resources/.history/1e/809a200bb45100191fb0c161d8d11d3e
B40894/Laboratorios/Laboratorio1/.metadata/.plugins/org.eclipse.core.resources/.history/2/70217639be5100191fb0c161d8d11d3e
