
*.class
B63199/Laboratorios/Lab2/app/target/classes/application.properties
B63199/Laboratorios/Lab2/app/target/classes/META-INF/MANIFEST.MF
B63199/Laboratorios/Lab2/app/target/classes/META-INF/maven/cr.ac.ucr.ie/app/pom.properties
B63199/Laboratorios/Lab2/app/target/classes/META-INF/maven/cr.ac.ucr.ie/app/pom.xml
