<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insertado exitoso</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<br>
<div class="alert alert-success">
    <strong>Registro exitoso!</strong> Se ha insertado una película en la base de datos exitosamente.
  </div>
</body>
</html>