@using ProyectoDosGrupoCinco.Business;


<!DOCTYPE html>
<html lang="en">

<head>

    <style>

        h2 {
            color: cadetblue;
        }

        img {
            width: 300px;
            height: 300px;
        }

        #Title {
            background-color: brown;
            color: white;
        }

        #image {
            background-color: aliceblue;
            margin-top: -1%;
        }
    </style>

</head>
<body>

  


    <div class="container">

        <h2 id="Title">Resumen de Compra</h2>

        <div id="image">
            <center> <img src="" alt="Trulli" width="500" height="333"></center>
        </div>


        <strong> <h2>En este correo encontrará todos los datos de la compra realizada en nuestra tienda.</h2></strong>

    </div>

</body>
</html>
