<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>lista cursos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>


	<table class="table table-striped">
	  <tr>
	    <th>Nombre</th>
	    <th>Sigla</th>
	    <th>Creditos</th>
	   </tr>
	   <tr th:each="curso : ${cursos}">
	    <td><span th:text="${curso.nombre}"></span></td>
	    <td><span th:text="${curso.siglas}"></span></td>
	    <td><span th:text="${curso.creditos}"></span></td>
	  </tr>
	</table>

</body>
</html>