
.body,#body{
  height: 100%;
  margin-top:2%;
  margin-bottom:2%;
  margin-left: 4%;
  width:  96%;
  align-content: center;
  color: azure;
  background-color: rgb(241, 239, 231);
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: bold;
  
  
 
}
#header{
    min-height: 100%;
    max-height: 100%;
    height: 80%;
    size: 30%;
    width: 95%;
    margin-bottom:1%;
    background-color:rgb(80, 79, 79);
    border-radius: 8px;


}
#container{
max-width: 90%;
width: 90%;
margin-top:2%;
margin-left: 2%;
margin-bottom:2%;

}


#chat-column{
    min-height:75%;
    max-height: 75%;
    height: 75%;
    width: 74%;
    max-width: 74%;
    min-width: 74%;
}

#SearchRoom-input-div{
    width: 110%;
    border-radius: 8px;
    margin-bottom: 1%;
    
}

#search-input{

min-width: 73%;
max-width: 73%;
width: 73%;
color: rgb(80, 79, 79);
font-size: 15px;
font-weight: bold;

}
#search-button{
 
    min-width: 21%;
    max-width: 21%;
    width: 21%
    
}



.search-room{
border-radius: 8px;
width: 98%;

}
#room-select-column{
   
    width: 24%;
    max-width: 24%;
    min-width: 24%;
    margin-left: 2%;
 
}

#chat-select{

size: 100%;
height: 100%;
min-height: 100%;
width: 100%;
border-radius: 8px;
background-color:rgb(80, 79, 79);
}

#chat-select2{

size: 100%;
height: 100%;
min-height: 100%;
width: 100%;
border-radius: 8px;
background-color:rgb(80, 79, 79);
}

#send-group-row{
margin-left: 1%;
width: 70%;
max-width:70%;
}

.message{

width: 78%;
max-width: 78%;
border-radius: 8px;
margin-right: 1%;
margin-left: 1%;
color: rgb(80, 79, 79);
font-size: 15px;
font-weight: bold;
overflow-x: hidden;
overflow-y: scroll;
}
.button-send{
    border-radius: 8px;
    size: 100%;
    width: 20%;
    background-color:rgb(80, 79, 79);
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.button-loggout{
    border-radius: 8px;
    size: 50%;
    width: 14%;
    background-color: rgb(247, 243, 224);
    margin-left: 2%;
    font-size: 80%;
    font-weight: bold;
}
.button-search{
    border-radius: 8px;
    size: 100%;
    width: 130%;
    background-color:rgb(80, 79, 79);
    color: rgb(255, 255, 255);
    font-size: 80%;
    font-weight: bold;
}
.chat-box{
    width: 100%;
    min-width: 70%;
    height: 100%;
    margin-bottom: 2%;
    border-radius: 8px;
}

.chat-logs{

    padding: 10px;
    width: 100%;
    height: 450px;
    border-radius: 8px;
    background-color:rgb(80, 79, 79);
    overflow-x: hidden;
    overflow-y: scroll;
   
    
    }

.chat{
  
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 1%;
    border-radius: 8px;
}

.chat .img-user{

    width: 60px;
    height: 60px;
    border-style:ridge;
    border-color:  rgb(252, 244, 200); 
    border-radius: 100%;
    background-color:  rgb(241, 239, 231);

}


.chat .chat-message{
    width: 80%;
    padding: 15px;
    margin: 5px, 10px,0px;
    border-radius: 10px;
    color: azure;
    font-size: 18px;
}



.friend .chat-message {

    background-color: rgb(255, 255, 255);
    color: rgb(80, 79, 79);
}

.self .chat-message {
    border-style: dotted;
    border-color:  rgb(255, 255, 255);
    background-color: rgba(247, 243, 224, 0.664);
    order: -1;
}
.metrics{
	
	
}

.metrics-results{
	
	
}


