
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h2>Bienvenidos a la aplicacion</h2>

    <a class="btn btn-primary" href="/Libro/Index">
        Libros
    </a>

</div>

<footer>
    <p>&copy; 2019 - OrbisB73027.web</p>
</footer>