<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<title>Mantenimiento Autores</title>
</head>
<body>

 	<div class="container">
		<h3>Borrado de Autores</h3>

 		<div class="form-group">
			<label for="id">Identificacion:</label> 
			<input id="id" type="text" th:value="${autor.idAutor}" readonly="readonly" class="form-control">
		</div>
		<div class="form-group">
			<label for="nombre">Nombre:</label> 
			<input id="nombre" type="text" th:value="${autor.nombreAutor}" class="form-control" readonly="readonly" >
		</div>
		<div class="form-group">
			<label for="apellidos">Apellidos:</label> 
			<input id="apellidos" type="text" th:value="${autor.apellidosAutor}" class="form-control" readonly="readonly" >
		</div>
		<button id="eliminar" class="btn btn-primary">Eliminar</button>
	</div>

 	<script>
var id = $("#id");
var eliminar = $("#eliminar");
eliminar.click(function(){
	$.ajax(	{
		method:"PUT",
		contentType:"application/json; charset=utf-8",
		url: "api/eliminarAutor/"+id.val()
	}).done(function()  {
	    alert("Success.");
	    window.history.back();
	    window.history.back().reload();
	}).fail(function()  {
	    alert("Sorry. Error . ");
	    window.history.back();
	});
});
</script>

 </body>
</html> 