<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/chat.css">
    <title>Chat</title>
</head>

<body>
    <div id="room">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/ingreso}">Iron chat</a>
                </div>
                <div class=" navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a th:href="@{/ingreso}">Salir</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-sm-4 vr">
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-4">
                        <button @click="createRoom" class="btn btn-default">Crear Room</button>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Buscar..">
                        </div>
                    </div>
                    <div class="col-sm-4"> <button type="submit" class="btn btn-default">Buscar</button></div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-10">
                        <div v-for="room in rooms">
                            <button v-on:click="verChatPerRoom(room.idRoom)" class="btn btn-default well">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <img src="https://img.icons8.com/color/40/000000/user.png" alt="">
                                    </div>
                                    <div class="col-sm-8">
                                        <h4 class="cen">
                                            <span> {{room.roomName}} </span>
                                        </h4>
                                    </div>
                                    <div class="col-sm-2">
                                        <h5 class="der">></h3>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div v-if="isChat">
                    <div id="wrapper">
                        <div id="menu">
                            <div style="clear:both">
                                <button class="btn btn-default">Info</button>
                                <button class="btn btn-default">Agregar Usuarios</button>
                            </div>
                        </div>
                        <div id="chatbox">
                            <div class="msj" v-for="msj in messages">
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-1"><br>
                                        <img src="https://img.icons8.com/color/40/000000/user.png" alt="">
                                        <h6>{{msj.idUser}}</h6>
                                    </div>
                                    <div class="col-sm-8">
                                        <br>
                                        <p>{{msj.message}}</p>
                                    </div>
                                    <div class="col-sm-1">
                                        <br>
                                        <h5 class="der">{{msj.idRoom}}</h5>
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" v-model="message" placeholder="Escribe...." type="text"
                                cols="20" rows="5" maxlength="500">Escribe aquí tus mensajes</textarea>
                            <button @click="enviarMensaje" type="submit"
                                class="btn btn-success form-control">Send</button>
                        </div>
                    </div>
                </div>
                <div v-if="isRoom">
                    <br><br><br><br><br>
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <h1 id="textChat">Crear Grupo</h1>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <br><br><br><br><br>
                    <div class="box">
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <h3 id="textChat"> Ingrese el nombre del Grupo</h3>
                                    <input type="text" class="form-control inputChat" placeholder="Escribe...."
                                        maxlength="25">
                                </div>
                            </div>
                            <div class="col-sm-4">
                            </div>
                        </div>
                        <br><br><br><br><br>
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-3">
                                <input class="btn btn-success btn-lg" value="Crear Grupo"></input>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-danger btn-lg">Cancelar</button>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/chat.js"></script>

</html>