<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Correo exitoso</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


</head>

<body style="background-color:#34495e">

  <div class="alert alert-success">
    <strong>Gracias por registrarse!</strong> Se ha enviado un mensaje de confirmación a su correo electrónico.
  </div>

</body>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</html>