<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/ingreso.css">

</head>

<body>
    <form th:action="@{/ingreso}" th:object="${user}" method="post" class="box">
        <h1>Login Admin</h1>
        <input type="text" placeholder="User Name" th:field="*{email}">
        <input type="password" placeholder="Password" th:field="*{email}">
        <input type="submit" value="Ingresar" onclick=sucessfulMessage()>
    </form>
</body>

</html>