<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/chat.css">
    <title>Metricas</title>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/ingreso}">Iron chat</a>
            </div>
            <div class=" navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/ingreso}">Salir</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-sm-4 vr">
            <form action="">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Buscar..">
                        </div>
                    </div>
                    <div class="col-sm-4"> <button type="submit" class="btn btn-default">Buscar</button></div>
                </div>
            </form>
            <br><br>
            <div class="row">
                <div class="col-sm-1"></div>
                <div id="rooms" class="col-sm-10">
                    <div v-for="room in rooms">
                        <button class="btn btn-default well">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img src="https://img.icons8.com/color/40/000000/user.png" alt="">
                                </div>
                                <div class="col-sm-8">
                                    <h4 class="cen">
                                        <span> {{room.roomName}} </span>
                                    </h4>
                                </div>
                                <div class="col-sm-2">
                                    <h5 class="der">></h3>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div id="metrics" class="col-sm-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Quantity Of Rooms</th>
                        <th>Quantity Of Users</th>
                        <th>AverageUsers For Rooms</th>
                        <th>Last Messages</th>
                        <th>First Login</th>
                        <th>Date First Login</th>
                        <th>User With more messages</th>
                        <th>Last Group Created</th>
                        <th>Group with More Messages</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="metric in metrics">
                        <td>{{metric.quantityOfRooms}}</td>
                        <td>{{metric.quantityOfUsers}}</td>
                        <td>{{metric.averageUsersForRooms}}</td>
                        <td>{{metric.last_message}}</td>
                        <td>{{metric.first_login}}</td>
                        <td>{{metric.date_first_login}}</td>
                        <td>{{metric.user_with_more_message}}</td>
                        <td>{{metric.last_group_created}}</td>
                        <td>{{metric.group_with_more_message}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
</body>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/metrics.js"></script>

</html>