<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	
	
    <title>Plan de Estudio</title>
</head>

<body>
    <div class="container">
        <h1>Plan de Estudio</h1>
        <form>
            <table class="table table-striped">
            <tr>
                <th>Nombre del Curso</th>
                <th>Siglas</th>
                <th>Creditos</th>
            </tr>
            <tr th:each="curso : ${cursos}">
                <td><a th:text="${curso.nombre}"></a></td>
                <td><span th:text="${curso.siglas}"></span></td>
                <td><span th:text="${curso.creditos}"></span></td>
            </tr>
        </table>
        </form>
    </div>

</body>


</html>