<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mantenimiento de peliculas</title>
<script src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</head>
<body>
<button>cris</button>
<div id="div1">Test</div>
<div class="container">
<h1>Mantenimiento de películas</h1>
	<table class="table table-striped">
	  <tr>
	    <th>Código</th>
	    <th>Título</th>
	    <th>Género</th>
	    <th>Total Películas</th>
	    <th>Índice</th>
	  </tr>
	   <tr th:each="pelicula : ${peliculas}">
	    <td><span th:text="${pelicula.codPelicula}"></span></td>
	    <td><span th:text="${pelicula.titulo}"></span></td>
	    <td><span th:text="${pelicula.genero.nombreGenero}"></span></td>
	    <td><span th:text="${pelicula.totalPeliculas}"></span></td>
	    <td><span th:text="${peliculaStat.count}"></span></td>
	  </tr>
	</table>
</div>

<script>
	$("button").click(function(){
		$.ajax({url: "http://localhost:8080/renting/peliculas", 
			success: function(result)
			{
				var a = eval(result);
				
			$("#div1").html(a[0].codPelicula);
		}});
	});
</script>
</body>
</html>