<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Listado de Películas</title>
<script src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">Title</div>
		<div class="col-6">
			<input id="title" type="text" value="">
		</div>
	</div>
	<div class="row">
		<div class="col-6">Gender</div>
		<div class="col-6">
			<input id="gender" type="text" value="">
		</div>
	</div>
		<div class="row">
			<div class="col-6"><button id="insert">Insert</button>
			<div class="col-6"><button id="search">Search</button>
		</div>
	</div>
	<div id="result" style="display: none;"></div>
	
	<div id="format" style="display: none;">
		<div class="row">
			<div id="movieId" class="col-6"></div>
			<div id="movieTittle"  class="col-6"></div>
		</div>
	</div>
</div>
<script>
var insertbtn = $("#insert");
var title = $("#title");
var gender = $("#gender");
var resultado = $("#result");
var format = $("#format");
var obj =     {
        "titulo": "Home Comming",
        "totalPeliculas": 200,
        "subtitulada": true,
        "estreno": true,
        "genero": {
            "codGenero": 1000,
            "nombreGenero": "Suspenso3"
        },
        "actores": []
    };
$("#insert").click(function(){
	
	obj.titulo=title.val();
	
	$.ajax(	{
		method:"POST",
		data:JSON.stringify( obj),
		contentType:"application/json; charset=utf-8",
		dataType:"json",
		url: "api/pelicula"
	}).done(function( data ) {
		alert("Exito");
	});
});
$("#search").click(function(){
	$.ajax(	{
		url: "api/peliculas?title="+title.val()+"&gender="+gender.val()
	}).done(function( data ) {
		for(var i =0; i< data.length; i++)
		{
			var clone = format.clone();
			var movie = data[i];
			clone.find("#movieId").html(movie.codPelicula);
			clone.find("#movieTittle").html(movie.titulo);
			resultado.append( clone.html() );
		}		
		resultado.show("slow");
	});
});
</script>
</body>
</html>