body{
    background: #34495e;
    color: white;
}
.vr {
    border-right: 1px solid #ccc !important;
 }
.well{
     color: black !important;
     background: #576574
 }
.well:hover{
     background: #10ac84;
 }
.inputChat{
     border: 0;
     background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
 }

.inputChat:focus{
    width: 380px;
    border-color: #2ecc71;
 }
 #textChat{
     text-align: center;
 }
 .well{
width: 100% !important;
text-align: left !important;
color: white;
font-size: 8%;
}
.cen{
    text-align: center;
}
.der{
    text-align: right;
}


