<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

  	<link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/chat.css">
    
    <script src="js/script.js" type="text/javascript"></script>
        

	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	
	
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  

</head>
<body>
  
<div class="container" style="background-color: #A23D3D;">
	
	<div class="row">	
		<div class="col-md-2" >
		    <input type="text" class="form-control" placeholder="Buscar">
		</div>   	
		<div class="col-md-2" >
		</div>
			
		<div class="col-md-5" >
		    <h3 id="roomTitle" style="color: white;text-align: center; font: bold; font: italic;"></h3>
		</div> 

		<div class="col-md-2" >
			
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Información</button>

			<!-- Modal -->
			<div class="modal fade" id="exampleModalLong"  role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title" id="exampleModalLongTitle">Integrantes</h4>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <div class="container" style="overflow-y:scroll;">
			        	
						<div class="row">Samuel</div>
						<div class="row">Priscila</div>
						<div class="row">Daniela</div>
						<div class="row">Cristian</div>
						<div class="row">Juan</div>
						<div class="row">Goku</div>
						<div class="row">Rodrigo</div>
			        	
			        </div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
			        <button type="button" class="btn btn-success">Invitar</button>
			      </div>
			    </div>
			  </div>
			</div>
			
		</div>	
	</div>	
		
</div>


<div class="container " style="background-color: #C6E6E5 ; ">
	<br>
	<div class="row">	
            <div class="col-md-3">
	            <div class="col-12" style="height:350px;  widht:600px; overflow-y:scroll;">
	            	
	                <ul th:each="room: ${rooms}" class="nav nav-pills brand-pills nav-stacked" role="tablist">
	                    
	                    <li role="presentation" class="brand-nav active">
	                    	<a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">
	                    		<span id="roomName" th:text="${room.name}"></span>
	                    	</a>
	                    </li>

	                </ul>
	                
	            </div>
	            <br>
	            <div class="container" >
	            	<div class="col-12" >
            			<a th:href="@{createRoom}"><button class="btn btn-success btn-lg" >Crear Grupo</button></a>
            		</div>
            	</div>
            </div>
            <div class="col-md-9">
                  
					<div id="caja-chat" style="height:350px; max-widht:100%; overflow-y:scroll;">
						
						
						<div id="oldMessages" class="row-area" th:each="message: ${messages}">
						    
							   <div class=" col-1" style="width: 10%;"><span th:text="${message.getDate()}"></span></div>
						       
						       
						       <div class="talkbubble col-7" style="width: 70%; background-color: white; "><span th:text="${message.getContent()}"></span></div>
	                       
	                       
	                           
	                       
	                       <br>
						</div>
						
						<br>
						
						
						
					</div>
			
					<br>
					
					<form  th:action="@{/chat}" method="post">
						<button type="submit" class="btn btn-info" >Enviar</button>
						<textarea name="messageBox" maxlength="500" id="mensaje" placeholder="Ingresa tu mensaje" style="resize: none; margin: 0px; width: 499px; height: 70px;"></textarea>
					</form>
			
 			</div >
 	</div>
</div>	
 	
<script type="text/javascript">

var roomName = getElementById("roomName");
var title = getElementById("roomTitle");

title.innerText=""+roomName.value;













function myFunction() {
 

  	var spanElement = document.createElement('span')
	spanElement.innerText="aqui el avatar mensaje y fecha"
	var DOMobject=document.createElement('br');
	var divejemplo=document.createElement('div')
	spanElement.innerText=""+document.getElementById("mensaje").value;
	
	
	
	document.getElementById('caja-chat').appendChild(spanElement);
	document.getElementById('caja-chat').appendChild(divejemplo);
	document.getElementById('caja-chat').appendChild(DOMobject);


}

</script>

</body>
</html>