@model OrbisB74560.web.Models.LibroPublicadorModel
@{
    ViewData["Title"] = "Mostrar Libros";
}

<div class="container">
    <h2>Seleccione un publicador:</h2>
    <div class="row">
        <select class="browser-default custom-select" id="publicadorSelect">
            @foreach (var publicador in Model.Publicadores)
            {
                <option value="@publicador.Id_publicador">
                    @publicador.Nombre_publicador
                </option>
            }
        </select>
        <button type="button" class="btn btn-primary" id="btn_showBooks">Mostrar Libros</button>
        <table class="table table-striped" id="myTable">
            <tr>
                <th>Titulo</th>
                <th>Ano</th>
                <th>ISBN</th>
            </tr>
            
        </table>
    </div>
</div>
<script>
    var table = $("#myTable");
    var select = $("#publicadorSelect");
    $("#btn_showBooks").click(function () {
        table.empty();
        printHeaderTable();
        var publicadorSelected = select.children("option:selected").val();
        var url = "/Libro/GetLibros/"+publicadorSelected;
        $.get(url, null, function (data) {
            if (data.length === 0) {
                alert("El publicador seleccionado no tiene libros");
            } else {
                var size = 0;
                for (key in data) {
                    if (data.hasOwnProperty(key)) {
                        $(
                            '<tr>' +
                            '<td>' + data[size].titulo + '</td>' +
                            '<td>' + data[size].ano + '</td>' +
                            '<td>' + data[size].isbn + '</td>' +
                            '</tr>'
                        )
                            .appendTo(table);
                        size = size + 1;
                    }


                }
            }
            
            
        });
        
    });
    function printHeaderTable() {
        $(
            '<tr>' +
            '<th>Titulo</th>' +
            '<th>Ano</th>' +
            '<th>ISBN</th>' +
            '</tr>'
        )
            .appendTo(table);
    }
</script>