<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaft.org">
<head>
<meta charset="ISO-8859-1">
<title>Actualizar Autor</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="all"
	href="css/bootstrap-glyphicons.css"></link>
<link rel="stylesheet" type="text/css" media="all" href="css/styles.css"></link>
</head>
<body>
	<div th:if="${autorActual==null}">El autor que desea actualizar
		no existe.</div>

	<div th:if="${autorActual!=null}">

		<form action="#" th:action="@{/actualizarAutor/actualizar}"
			method="post">

			Actualizar la informacion correspondiente <br> Codigo del autor:
			<span th:text="${autorActual.idAutor}" name = "id"></span> Nombre del autor: <input
				type="text" th:value="${autorActual.nombre}" name="nombre">
			Apellido del autor: <input type="text"
				th:value="${autorActual.apellidos}" name="apellidos">

		
			<p>
				<input type="submit" class="btn btn-danger"  value="modificar" />
				<p>
				<a th:href="@{/mantenimientoAutores}" class="btn btn-success">cancelar</a>
			</p>
		</form>

	</div>
</body>
</html>