
@model IEnumerable<model.Domain.Pelicula>

@{

}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
 $(document).ready(function () {  
        $.ajax({  
            type: "GET",  
            url: "/api/Pelicula",  
            contentType: "application/json; charset=utf-8",  
            dataType: "json",  
            success: function (data) {
                console.log(data);
                data.forEach(function (element) {

                    $("#result").append("<div class='col-sm-2' id='movieImage'><img src=" + element["urlImagen"] + " alt='MoviePic' id='divMoviePic' height='100' width='180'></div>");
            }); 
           }
        });         
    }); 

    </script>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>

<body>
    <img src="https://www.aself.org/wp-content/uploads/2016/08/Peli-Logo-B-Hi-Res-jpeg.png" alt="Smiley face" height="100" width="175">


    <div class="container">

        <div id="result"></div>

        <!--
            @foreach (var pelicula in Model)
            {
        <div class="col-sm-2">

            <img src="@pelicula.UrlImagen" alt="MoviePic" id="divMoviePic" height="100" width="180">

         </div>
            }
        -->

    </div>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>
<style>
    body {
        background-color: black;
    }

    #movieImage {
        margin-top: 45px;
    }
</style>
