<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login form</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
  <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <link href='https://fonts.googleapis.com/css?family=Raleway:300,200' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 <link rel="stylesheet" th:href="@{/css/style.css}"/>
  

</head>

<body>

 
    <div  class ="logo" id ="logo" align="center"  >
        <img th:src="@{/img/logo.png}"  alt="logo">
    </div>

  <div class="form">
     
    <div class="forceColor"></div>
    <div class="topbar">
      <div class="spanColor"></div>
		  <input type="email" class="input" id="email" placeholder="Email" />
	
	<select id="locales" style="background-color:red">
    <option value=""></option>
    <option value="en" th:text="#{eng}"></option>
    <option value="sp" th:text="#{sp}"></option>
    </select>
    
    </div>
    
    <button class="submit" id="submit" th:text=#{login}></button>
  
  	
  </div>

<script>
var emailInput = $("#email");

alert("ds");
$("#submit").click(function(){	
	
	$.ajax(	{
		method:"PUT",
		contentType:"application/json; charset=utf-8",
		dataType:"json",
		url: "user/msn/"+emailInput.text()
	}).done(function() {
		alert("The mail was send.");
		 window.history.back();
	}).fail(function()  {
	    alert("A error happend sending the email.");
	    window.history.back();
	});
});

    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption !== ''){
                window.location.replace('locale?lang=' + selectedOption);
            }
        });
    });

</script>

</body>

</html>