<!DOCTYPE html>
<html lang="en">

<head>

    <link href='https://fonts.googleapis.com/css?family=Raleway:300,200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/cssDove.css">
    <meta charset="UTF-8">

    <title>Dove Chat</title>

</head>

<header>

    <div id="header" class="header">

        <div id="header-row" class="row">

            <div id="chat-logo-div" class="col-sm">
                <img src="../templates/assets/batman.png" alt="logo" class="logo" style="margin-left: 60%">
                <label id="label-chat-name" class="name">
                    xGeneration
                </label>
            </div>





            <div id="user-logo-div" class="col-sm" align="right" style="margin-right: 8%">
                <img src="../templates/assets/cat.png" alt="logo" class="logo">
                <label id="label-user-name" class="name">
                    patitos@gmail.com
                </label>
            </div>

        </div>
    </div>

</header>

<body class="body" align="center">

    <div id="container" class="row">

            <div id="chat-logs" class="col-sm-3">

                    <p class="text">Room's Quantity</p>
                    <p class="text">User's Quantity</p>
                    <p class="text">User's Average per Room</p>
                    <p class="text">Average users per group</p>
                    <p class="text">Last message date</p>
                    <p class="text">First login date</p>
                    <p class="text">User with more messages and quantity</p>
                    <p class="text">Largest message</p>
                    <p class="text">Last created room</p>
                    <p class="text">Room with more messages and quantity</p>


                </div>

            <div id="chat-logs" class="col-sm-3">

                    <p class="text">1019</p>
                    <p class="text">74839</p>
                    <p class="text">10</p>
                    <p class="text">78</p>
                    <p class="text">11-06-2019</p>
                    <p class="text">11-5-2019</p>
                    <p class="text">jdkañ</p>
                    <p class="text">jklfa</p>
                    <p class="text">jdkl</p>
                    <p class="text">b</p>

        </div>



        <div id="room-select-column" class="col-sm">

            <div id="SearchRoom-input-div" class="row">
                <input type="search" class="search-room" required>
            </div>

            <div id="room-select-div" class="row">
                <select name="chat-select" class="chat-select" id="chat-select" multiple="multiple" size="23"></select>
            </div>

            

        </div>

        <div id="btnSearch" class="col-sm-2">
                <button>Search</button>  
        </div>

        
    </div>



</body>

</html>