<!DOCTYPE html>
<html lang="en">

<head>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link href='https://fonts.googleapis.com/css?family=Raleway:300,200'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" th:href="@{/css/cssDove.css}" />
<link href='https://fonts.googleapis.com/css?family=Raleway:300,200' rel='stylesheet' type='text/css'>

<meta charset="UTF-8">

<title>Dove Chat</title>

</head>

<header>


	<div id="header" class="header">

		<div id="header-row" class="row" style="height: 100%;">


			<div id="user-logo-div" class="col-sm">
				<img th:src="@{/assets/add_member.png}" alt="logo" class="logo"
					style="border-style: ridge; border-color: rgb(252, 244, 200); border-radius: 100%; background-color: rgb(241, 239, 231);">
			</div>


			<div id="chat-logo-div" class="col-sm">
				<img th:src="@{/assets/batman.png}" alt="logo" class="logo"
					style="margin-left: 10%; border-style: ridge; border-color: rgb(252, 244, 200); border-radius: 100%; background-color: rgb(241, 239, 231)">
				<label id="label-chat-name" class="name" style="margin-left: 2%">
					xGeneration </label>
			</div>


			<div id="user-logo-div" class="col-sm" align="right"
				style="margin-right: 3%;">

				<img th:src="@{/assets/cat.png}" alt="logo" class="logo"
					style="border-style: ridge; border-color: rgb(252, 244, 200); border-radius: 100%; background-color: rgb(241, 239, 231);">
				<label id="label-user-name" class="name" style="margin-left: 2%">
					patitos@gmail.com </label>
				<button id="logout" class="button-loggout" th:text="#{logout}"></button>
			</div>

		</div>
	</div>

</header>

<body class="body" align="center">

	<div id="container" align="center" class="row">

		<div id="chat-column" class="col-sm">

			<div class="chat-box">

				<div class="chat-logs">

					<div class="chat friend">
						<div class="img-user">
							<img th:src="@{/assets/cat.png}" alt="">
						</div>
						<p class="chat-message">b</p>
					</div>

					<div class="chat self">
						<div class="img-user">
							<img th:src="@{/assets/cat.png}" alt="">
						</div>
						<p class="chat-message">a</p>
					</div>
					<div class="chat self">
						<div class="img-user">
							<img th:src="@{/assets/cat.png}" alt="">
						</div>
						<p class="chat-message">a</p>
					</div>
					<div class="chat friend">
						<div class="img-user">
							<img th:src="@{/assets/cat.png}" alt="">
						</div>
						<p class="chat-message">b</p>
					</div>
					<div class="chat self">
						<div class="img-user">
							<img th:src="@{/assets/cat.png}" alt="">
						</div>
						<p class="chat-message">a</p>
					</div>
					<div class="chat self">
						<div class="img-user">
							<img th:src="@{/assets/cat.png}" alt="">
						</div>
						<p class="chat-message">a</p>
					</div>
					<div class="chat friend">
						<div class="img-user">
							<img th:src="@{/assets/cat.png}" alt="">
						</div>
						<p class="chat-message">b</p>
					</div>

				</div>

			</div>
		</div>



		<div id="room-select-column" class="col-sm">

			<div id="SearchRoom-input-div" class="row">
				<div id="search-input">
					<input style="color: rgb(80, 79, 79); font-weight: bold;"
						type="text" class="search-room">
				</div>
				<div id="search-button">
					<button class="button-search" th:text="#{search}"></button>
				</div>
			</div>

			<div id="room-select-div" class="row">
				<select name="chat-select" class="chat-select" id="chat-select"
					multiple="multiple" size="19"></select>
			</div>

			<div id="SearchRoom-input-div" class="row">
				<button class="button-send" th:text=#{new}></button>
			</div>

		</div>
		<div id="send-group-row" class="row">
			<input type="text" class="message"></input>
			<button class="button-send" th:text=#{send}></button>
		</div>
		
	</div>

<script>

$(document).ready(function() {
    $("#locales").change(function () {
        var selectedOption = $('#locales').val();
        if (selectedOption !== ''){
            window.location.replace('?language=' + selectedOption);
        }
    });
});


</script>


</body>

</html>