<!DOCTYPE html>
<html lang="en">

<head>

    <link href='https://fonts.googleapis.com/css?family=Raleway:300,200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/cssDove.css">
    <meta charset="UTF-8">

    <title>Dove Chat</title>

</head>

<header>


    <div id="header" class="header">

        <div id="header-row" class="row">

            <div id="chat-logo-div" class="col-sm">
                <img src="" alt="logo" class="logo">
            </div>

            <div id="chat-name-div" class="col-sm">

                <label id="label-chat-name" class="name">
                    xGeneration
                </label>
            </div>

            <div id="user-name-div" class="col-sm">

                <label id="label-user-name" class="name">
                    patitos@gmail.com
                </label>

            </div>

            <div id="user-logo-div" class="col-sm">
                <img src="" alt="logo" class="logo">
            </div>

        </div>
    </div>

</header>

<body class="body" align="center">

    <div id="container" class="row">

        <div id="chat-column" class="col-sm">

            <div id="chat-logs" class="row">

                <div id="chat-received" class="col-sm">
                    <div class="img-user"></div>
                    <p class="chat-message">b</p>
                </div>

                <div id="chat-sent" class="col-sm">
                    <div class="img-user"></div>
                    <p class="chat-message">a</p>
                </div>

            </div>

            <div id="send-group-row" class="row">
                <input type="text" class="message">
                <button class="button">Enviar</button>
            </div>

        </div>



        <div id="room-select-column" class="col-sm">

            <div id="SearchRoom-input-div" class="row">
                <input type="text" class="search-room">
            </div>

            <div id="room-select-div" class="row">
                <select name="chat-select" class="chat-select" id="chat-select" multiple="multiple"></select>
            </div>

        </div>
    </div>



</body>

</html>