<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Editoriales</title>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

</head>
<body>
	<div class="container">
		<h1>Mantenimiento de editoriales</h1>
		<h4>Busqueda por ID</h4>
		<form action="#" onsubmit="verificacion()"
			th:action="@{/findEditorial}" method="post">
			ID editorial <input type="number" name="id" id="campoId" /> <br>

			<h4>Busqueda por rangos</h4>
			Primer rango <input type="number" name="desde" id="campoDesde" /> <br>
			<br> Segundo rango <input type="number" name="hasta"
				id="campoHasta" /> <br> <br> <input id="buscarButtom"
				value="Buscar" type="submit" />
			<script>
				//$(function() {});
				function verificacion() {
					var idField = document.getElementById("campoId").value;
					var desdeField = document.getElementById("campoDesde").value;
					var hastaField = document.getElementById("campoHasta").value;
					var buscarButtom = document.getElementById("buscarButtom").value;
					if (desdeField === "" && hastaField === ""
							&& idField === "") {
						alert("Todos campos no deben quedar vacios (desde, hasta, id)");
						event.preventDefault();
					} else if (desdeField !== "" && hastaField === ""
							&& idField === "") {
						alert("Los campos no de rango no deben quedar vacios (hasta)");
						event.preventDefault();
					} else if (desdeField === "" && hastaField !== ""
							&& idField === "") {
						alert("Los campos no de rango no deben quedar vacios (desde)");
						event.preventDefault();
					} else if (desdeField !== "" && hastaField !== ""
							&& idField !== "") {
						alert("Todos campos no deben estar llenos, elija algunoas de los dos metodos de "
								+ "busqueda (desde, hasta, id)");
						event.preventDefault();
					} else if (desdeField !== "" && hastaField === ""
							&& idField !== "") {
						alert("Todos campos no deben estar llenos, elija algunoas de los dos metodos de "
								+ "busqueda");
						event.preventDefault();
					} else if (desdeField === "" && hastaField !== ""
							&& idField !== "") {
						alert("Todos campos no deben estar llenos, elija algunoas de los dos metodos de "
								+ "busqueda");
						event.preventDefault();
					}
				}
			</script>
		</form>

		<table class="table table-striped">
			<tr>
				<th>Código</th>
				<th>Título</th>
			</tr>
			<tr th:each="editorial : ${editoriales}">
				<td><a th:href="@{findLibro2(id=${editorial.id_editorial})}">
						<span th:text="${editorial.id_editorial}"></span>
				</a></td>
				<td><span th:text="${editorial.nombre}"></span></td>
			</tr>
		</table>
	</div>
</body>

</html>