<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Mantenimiento de Autores</title>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

</head>
<body>


	<div class="container">
		<h2>Mantenimiento de Autores</h2>
		<div class="row">

			<form th:action="@{/buscarAutorPorApellidos}" method="post"
				onsubmit="">

				<div class="col-6" style="width: 500px;">
					<input type="text" name="apellidos"
						placeholder="Busqueda por apellido..." class="form-control">
				</div>
				
				<div class="col-6" style="height: 50px;">
					<button class="btn btn-success" id="myButton" type="submit">Buscar</button>
				</div>


			</form>

		</div>
		<div class="row">
			<div class="col-12">
				<table class="table table-striped" id="myTable">
					<tr>
						<th>Id</th>
						<th>Nombre</th>
						<th>Apellidos</th>
						<th>Editar</th>
						<th>Borrar</th>
					</tr>
					<tr th:each="autor : ${autores}">
						<td><span th:text="${autor.id_autor}"></span></td>
						<td><span th:text="${autor.nombre_autor}"></span></td>
						<td><span th:text="${autor.apellidos_autor}"></span></td>
						<td><a th:href="@{editarAutor(id=${autor.id_autor})}">Editar</a></td>
						<td><a th:href="@{borrarAutor(id=${autor.id_autor})}">Borrar</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>


	<script>
		
	</script>

</body>
</html>