<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find movies</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h1> </h1>
        <form action="#" th:action="@{/findMovies}" method="POST">
            Titulo de la pelicula: <input type="text" name="titulo"> <br><br>
            Nombre genero: <input type="text" name="genero">
            <input type="submit" value="Buscar">
        </form><br>
        <table class="table table-striped">
            <tr>
                <th>Codigo</th>
                <th>Titulo</th>
                <th>Genero</th>
                <th>Total Peliculas</th>
                <th>Indice</th>
            </tr>
            <tr th:each="pelicula: ${peliculas}">
                <td>
                    <span th:text="${pelicula.codPelicula}"></span>
                </td>
                <td>
                    <span th:text="${pelicula.titulo}">
                </td>
                <td>
                    <span th:text="${pelicula.genero.nombreGenero}"></span>
                </td>
                <td>
                    <span th:text="${pelicula.totalPeliculas}"></span>
                </td>
                <td>
                    <span th:text="${peliculaStat.count}"></span>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>