<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insertar Nuevo Libro</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script>
	function moveRight(e) {
		var leftSelect = document.forms[0].leftList;
		for (var i = 0, len = leftSelect.options.length; i < len; i++) {
			var option = leftSelect.options[i];
			if (option.selected) {
				document.forms[0].idAutores.add(option, null);
			}
		}
		if (!e) {
			e.preventDefault();
		}
	}
	function moveLeft(e) {
		var rightSelect = document.forms[0].idAutores;
		for (var i = 0, len = rightSelect.options.length; i < len; i++) {
			var option = rightSelect.options[i];
			if (option.selected) {
				document.forms[0].leftList.add(option, null);
			}
		}
		if (!e) {
			e.preventDefault();
		}
	}
</script>
</head>
<body>
	<h1>Insertar nuevo Libro</h1>
	<div class="container" style="max-width: 600px; padding: 40px 20px;">
		<form th:object="${libroForm}" th:action="@{/insertarLibro/salvar}"
			method="post">
			<label>Título:<input type="text" th:field="*{titulo}"
				class="form-control" placeholder="Título"></label>
			<div th:if="${#fields.hasErrors('titulo')}">El título debe
				contener al menos dos letras</div>
			<div style="clear: both; display: block; height: 10px;"></div>
			<label>Año Publicación:<input type="number"
				th:field="*{ano}" class="form-control"
				placeholder="Año Publicación"></label>
			<div style="clear: both; display: block; height: 10px;"></div>
			<label>Editorial: <select th:field="*{idEditorial}">

					<option th:each="editorial: ${editoriales}"
						th:value="${editorial.idEditorial}"
						th:text="${editorial.nombrePublicador}"></option>
			</select>

			</label>
			<div style="clear: both; display: block; height: 10px;"></div>


			<label>Precio:<input type="number" th:field="*{precio}"
				class="form-control" placeholder="Precio"></label>
			<div style="clear: both; display: block; height: 10px;"></div>

			<label>Mueva los autores del libro</label>
			<div class="form-group">
				<select name="leftList" multiple="multiple">
					<option th:each="autor: ${autores}" th:value="${autor.idAutor}"
						th:text="${autor.nombre}"></option>
				</select>
				<div class="btn-group-vertical">
					<button type="button" class="btn btn-primary"
						onclick="moveRight(event)">Inluir</button>
					<button type="button" class="btn btn-primary"
						onclick="moveLeft(event)">Excluir</button>
				</div>
				<select name="idAutores" multiple="multiple" th:field="*{idAutores}">
				</select>
			</div>

			<button type="submit">Insertar Libro</button>

		</form>
	</div>
</body>
</html>