<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Insertar Libro</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div class="row" id="app">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form th:object="${editorialForm}" th:action="@{/insertarLibro}" method="POST">
                <div class="form-group">
                    <label for="titulo_libro">Titulo:</label>
                    <input th:field="*{titulo}" type="text" class="form-control" id="titulo_libro" required
                        maxlength="50">
                </div>
                <div class="form-group">
                    <label for="date">Fecha:</label>
                    <input th:field="*{ano}" type="date" class="form-control" id="date" required>
                </div>
                <div class="form-group">
                    <label for="editorial">Publicador:</label>
                    <select th:field="*{idEditorial}" id="editorial" class="form-control">
                        <option th:each="editorial:${editoriales}" th:value="${editorial.idEditorial}"
                            th:text="${editorial.nombre}">seleccionar</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="isbn">ISBN:</label>
                    <input th:field="*{ISBN}" type="text" class="form-control" id="isbn" required maxlength="13"
                        minlength="13">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <select class="form-control" id="autorOri">
                                <option th:each="autor:${autores}" th:value="${autor.idAutor}"
                                    th:text=${autor.nombreAutor}>
                                </option>
                                </option>
                            </select>
                            <br>
                            <input type="button" class="btn btn-default" value=">>" onclick="agregarAutor()">
                        </div>

                        <div class="col-sm-6">
                            <select class="form-control" id="autorDes">
                            </select>
                            <br>
                            <input type="button" class="btn btn-default" value="<<" onclick="regresarAutor()">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Insertar Libro</button>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <script>
        function agregarAutor() {
            let selectOri = document.getElementById('autorOri');
            let text = selectOri.options[selectOri.selectedIndex].text;
            let value = selectOri.options[selectOri.selectedIndex].value;
            let selectDes = document.getElementById('autorDes');
            selectDes.options[selectDes.options.length] = new Option(text, value, true, true);
            selectOri.remove(selectOri.selectedIndex);
        }
        function regresarAutor() {
            let selectDes = document.getElementById('autorDes');
            let text = selectDes.options[selectDes.selectedIndex].text;
            let value = selectDes.options[selectDes.selectedIndex].value;
            let selectOri = document.getElementById('autorOri');
            selectOri.options[selectOri.options.length] = new Option(text, value, true, true);
            selectDes.remove(selectDes.selectedIndex);
        }
        var app = new Vue({
            el: '#app',
            data: {
                autores: [],
                idAutor: '',
                nombreAutor: ''
            },
            methods: {
                agregarAutor: function () {
                    // this.autores.push({ idAutor: value, nombreAutor: text });

                },
                enviar: function () {

                },
                quitar: function () {

                }
            }

        })
    </script>
</body>

</html>