
.body,#body{
 font-size: 82.5%;
  height: 100%;
  margin-top:2%;
  margin-bottom:2%;
  margin-left: 4%;
  width:  96%;
 
}
#header{
    min-height: 100%;
    max-height: 100%;
    height: 80%;
    size: 30%;
    width: 95%;
    margin-bottom:1%;
    background-color: darkgoldenrod;
    border-radius: 8px;


}
#container{
max-width: 90%;
width: 90%;
margin-top:2%;
margin-left: 2%;
margin-bottom:2%;

}


#chat-column{
    min-height:75%;
    max-height: 75%;
    height: 75%;
    width: 75%;
    max-width: 70%;
    min-width: 70%;
}

#SearchRoom-input-div{
    width: 170%;
    border-radius: 8px;
  margin-bottom: 1%;
}



.search-room{
border-radius: 8px;
width: 98%;

}
#room-select-column{

    width: 28%;
    max-width: 28%;
    min-width: 23%;
    margin-left: 5%;
 
}

#chat-select{
size: 100%;
height: 100%;
min-height: 100%;
width: 100%;
border-radius: 8px;
}

#send-group-row{
margin-left: 1%;
width: 79%;
max-width:79%;
}

.message{

width: 75.7%;
max-width: 75.7%;
border-radius: 8px;
}
.button{
    border-radius: 8px;
    size: 40%;
    width: 10%;
}
.button-search{
    border-radius: 8px;
    width: 25%;
    size: 25%;
}
.chat-box{
    width: 100%;
    min-width: 70%;
    height: 100%;
    margin-bottom: 2%;
    border-radius: 8px;
}

.chat-logs{

    padding: 10px;
    width: 100%;
    height: 450px;
    border-radius: 8px;
    background-color: darkgrey;
    overflow-x: hidden;
    overflow-y: scroll;
    
    }

.chat{

    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 1%;
    border-radius: 8px;
}

.chat .img-user{

    width: 60px;
    height: 60px;
    background-color: darkgrey;
    border-radius: 50%;

}

.chat .chat-message{
    width: 80%;
    padding: 15px;
    margin: 5px, 10px,0px;
    border-radius: 10px;
    color: azure;
    font-size: 18px;
}



.friend .chat-message {

    background-color: cadetblue;
}

.self .chat-message {

    background-color: rgb(95, 160, 104);
    order: -1;
}

