<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Libros</title>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</head>
<body>
<div class="container">
<h1>Libros</h1>
	<form action="#" th:action="@{/VerLibros}" method="post">
	<div>
		<input type="radio" name="group1" value="PorCodigo" onchange="pulsadoPorCodigo(this);" checked>Por Codigo 
		<input type="radio" name="group1" value="RangodeCodigos" onchange="pulsadoPorRango(this);" > Rango de Codigos<br>
	</div><br>
	<div>Codigo de editorial <input type="number" id="codE" min="1" name="id_editorial1"placeholder="Valor" required/> <br> <br></div>
	<div>Rangos <input type="number" id="rangoCMayor"min="1" disabled="disabled" name="txtRangos1"placeholder="Valor Mayor" required>
	<input type="number" id="rangoCMenor" min="1" disabled="disabled" name="txtRangos2" placeholder="Valor Menor" required><br><br></div>
	<input type="submit" value="Buscar" /><br><br>
	</form>
	
	<script>
		function pulsadoPorCodigo(radioButton) {
			document.getElementById("codE").required = true;
			document.getElementById("rangoCMayor").required = false;
			document.getElementById("rangoCMenor").required = false;
			document.getElementById("codE").disabled = false;
			document.getElementById("rangoCMayor").disabled = true; 
			document.getElementById("rangoCMenor").disabled = true; 
			 
		}
		function pulsadoPorRango(radioButton) {
			document.getElementById("codE").required = false;
			document.getElementById("rangoCMayor").required = true;
			document.getElementById("rangoCMenor").required = true;
			document.getElementById("codE").disabled = true;
			document.getElementById("rangoCMayor").disabled = false; 
			document.getElementById("rangoCMenor").disabled = false;
		}
	</script>
	
<table class="table table-striped">
	  <tr>
	    <th>Codigo</th>
	    <th>Titulo</th>
	    <th>Ano</th>
	    <th>Precio</th>
	    <th>Codigo de Editorial</th>
	   
	  </tr>
	   <tr th:each="libro : ${libro}">
	    <td><span th:text="${libro.id}"></span></td>
	    <td><span th:text="${libro.titulo}"></span></td>
	    <td><span th:text="${libro.ano}"></span></td>
	    <td><span th:text="${libro.precio}"></span></td>
	    <td><span th:text="${libro.editorial}"></span></td>
	  </tr>
	</table>
</form>
</body>
</html>