<!DOCTYPE html>
<html class=''>

<head>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
<meta name="robots" content="noindex">
<link rel="shortcut icon" type="image/x-icon"
	href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
<link rel="mask-icon" type=""
	href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg"
	color="#111" />
<link rel="canonical"
	href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />
<link
	href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300'
	rel='stylesheet' type='text/css'>
<script src="https://use.typekit.net/hoy3lrg.js"></script>
<link rel='stylesheet prefetch'
	href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
<link rel='stylesheet prefetch'
	href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
<script
	src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<link href="../static/css/chat.css" type="text/css" rel="stylesheet"
	th:href="@{/css/chat.css}" media="screen,projection">

<script type="text/javascript" src="../static/js/myWorker.js"
	th:src="@{/js/myWorker.js}"></script>


</head>

<body>


	<div id="frame">
		<div align="right">
			<select id="locales">
				<option selected value="" th:text="#{change.language}"></option>
				<option value="en" th:text="#{lang.eng}"></option>
				<option value="de" th:text="#{lang.es}"></option>
			</select>
		</div>

		<div id="sidepanel">
			<div id="profile">
				<div class="wrap">
					<img id="profile-img"
						src="http://emilcarlsson.se/assets/mikeross.png" class="online"
						alt="" />
					<p>Mike Ross</p>

				</div>
			</div>
			<div id="search">
				<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
				<input type="hidden" id="userRoom" th:value="${idUserRoom}" /> <input
					type="text" th:placeholder="#{searchChat.text}" />
			</div>
			<div id="contacts">
				<ul>
					<li onclick="print(this)" th:each="group: ${groups}"
						class="contact">
						<div class="wrap">
							<img src="http://emilcarlsson.se/assets/rachelzane.png" alt="" />
							<div class="meta">
								<p th:text="${group.name_Room}" class="name"></p>
								<input type="hidden" th:value="${group.group_id}" />
								<p class="preview"></p>
							</div>
						</div>
					</li>

				</ul>
			</div>
			<div id="bottom-bar">
				<button id="addcontact">
					<i th:title="#{addgroup.text}" class="fa fa-user-plus fa-fw"
						aria-hidden="true"></i> <span th:text="#{addgroup.text}"></span>
				</button>

			</div>
		</div>




		<div class="content">
			<div class="contact-profile">
				<img id="imgActualContact"
					src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
				<p id="ActualGroupName"></p>
				<div class="settings-media" id="settings">


					<!-- boton para abrir los metrics data-toggle="modal" data-target="popup()"   onclick="location.href='metrics'" aria-hidden="true" -->
					<i class="fa fa-cog fa-fw" id="btn-abrir-popup"
						th:title="#{info.text}"></i> <i class="fa fa-user-plus fa-fw"
						aria-hidden="true" th:title="#{invite.text}"></i>


				</div>
			</div>
			<div class="messages">
				<ul>

				</ul>
			</div>
			<div class="message-input">
				<div class="wrap">
					<input type="text" id="text" th:placeholder="#{writeMessage.text}" />
					<button th:title="#{send.text}" class="submit" id="btnSendMessage">
						<i class="fa fa-paper-plane" aria-hidden="true"></i>
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- ///////////////Bloque PopUp////////////////////////////// -->
	<div class="overlay" id="overlay">
		<div class="popup" id="popup">
			<div class="encabezadoPopup">
				<a href="chat" id="btn-cerrar-popup" class="btn-cerrar-popup"><i
					class="fas fa-times"></i></a>
				<h4>Informaci&oacute;n del Grupo</h4>
			</div>
			<div class="contenPopup">

				<div class="contact-group" align="center">
					<img src="http://emilcarlsson.se/assets/harveyspecter.png"
						class="online" alt="" /> <br> <label>Group: name
						gorup </label>
					<hr style="color: #808080;" />
					<ul>
						<b>Owner:</b>
						<li class=""><img
							src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
							<p>Jeremy</p>
							<p>Usuario</p></li>
					</ul>
					<ul>
						<b>Admin:</b>
						<li class=""><img
							src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
							<p>Jeremy</p>
							<p>Usuario</p></li>
					</ul>

					<ul>
						<b>Users</b>
						<li class=""><img
							src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
							<p>Jeremy</p>
							<p>Usuario</p></li>
						<li class=""><img
							src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
							<p>Manfred</p>
							<p>Usuario</p></li>
						<li class=""><img
							src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
							<p>Aaron</p>
							<p>Usuario</p></li>
						<li class=""><img
							src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
							<p>Emma</p>
							<p>Usuario</p></li>
					</ul>


				</div>
			</div>
			<!-- cierre contenPopup -->
		</div>
		<!-- cierra contenPopup -->
	</div>
	<!-- /////////////////////////Bloque PopUp//////////////////////////////// -->

</body>
</html>