<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insertar Pel&iacute;cula</title>
</head>
<body>
	<div class="container" style="max-width: 600px; padding: 40px 20px;">
		
		<h1>Insertar nueva pel&iacute;cula</h1>
		
		<form th:object="${peliculaForm}" action="#"
			th:action= "@{/insertarPelicula}" method="post">
			
			<label>T&iacute;tulo:<input type= "text" th:field="*{titulo}"
				class="form-control" placeholder="Título"/>
			</label>
			
			<div th:if="${#fields.hasErrors('titulo')}">
				El t&iacute;tulo debe contener al menos dos letras.</div>
			
			<div style=" clear: both; display: block; height: 10px;"></div>
			<label>Genero:
			
				<select th:field="*{codGenero}">
				
					<option th:field="genero: ${generos}" 
					th:value= "${genero.codGenero}"
					th:text="${genero.nombreGenero}"></option>
					
				</select>
				
			</label>
			
			<div style= "clear: both; display: block; heigth: 10px;"></div>
			
			<label> Total pel&iacute;culas <input type="number"
				th:field= "*{totalPeliculas}" class = "form-control"
				placeholder= "Total películas" />
			</label>
			
			<div th:if= "${#field.hasErrors('totalPeliculas')}">Debe ingresar al menos dos pel&iacute;culas</div>
			<div style= "clear: both; display: block; heigth: 10px;"></div>
			
			<label> <input type = "checkbox" th:field="*{subtitulada}">
				Subtitulada
			</label>
			
			
			<label> <input type = "checkbox" th:field="*{estreno}">
				Estreno
			</label>
			
			<button type = "submit">Salvar</button>
		</form>
		
	</div>


</body>
</html>