<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <title>Insertar Libro</title>
</head>

<body>

    <div class="container" style="max-width: 400px; padding: 40px 20 px;">
		<div class="p-3 mb-2 bg-info text-white" style="max-width: 400px; padding: 40px 20 px;">
        <h1>Insertar nuevo Libro</h1>
        </div>
        
        <div class="p-3 mb-2 bg-light text-dark"  style="max-width: 400px; padding: 40px 20 px;">
        <form th:object="${libroForm}" action="#" th:action="@{/insertarLibro}" method="post"
            onsubmit="seleccionaTodos()">

            <div class="form-group">
                <label> Titulo:
                    <input type="text" th:field="*{titulo}" class="form-control" placeholder="Titulo">
                </label>
            </div>


            <div th:if="${#fields.hasErrors('titulo')}" class="alert alert-danger" role="alert" style="max-width: 300px; padding: 40px 20 px;">
            Debe ingresar un titulo válido</div>

            <div style "clear:both; display:block; height:100px;">
            <div class="form-group">
            <label> Editorial: </label>
                <select th:field="*{idEditorial}" class="form-control" style="max-width: 200px; padding: 40px 20 px;">
                    <option th:each="editorial: ${editoriales}" th:value="${editorial.idEditorial}" th:text="${editorial.nombre}">
                    </option>
                </select>  
           </div>     
           </div>   
            
           
            <div style="clear: both; display: block; height: 10px;"></div>
            <div class="form-group">
            <label> Año:
                <input type="number" th:field="*{ano}" class="form-control" placeholder="Año">
            </label>
             </div>   
             
            <div th:if="${#fields.hasErrors('ano')}" class="alert alert-danger" role="alert" style="max-width: 300px; padding: 40px 20 px;">
            Debe ingresar un año válido</div>
            
            <div style="clear: both; display: block; height: 10px;"></div>
            <div class="form-group">
            <label>ISBN:
                <input type="text" th:field="*{ISBN}" class="form-control">
            </label>
            </div>  

            <div th:if="${#fields.hasErrors('ISBN')}" class="alert alert-danger" role="alert" style="max-width: 300px; padding: 40px 20 px;">
            Debe ingresar un ISBN de 10 caracteres</div>

            <div style "clear:both; display:block; height:200px;">
             <div class="form-group">
            <label > Autores disponibles:
            <select id="autoresDisponibles"  class="form-control" multiple="multiple" onchange="muestraAutoresSeleccionados()"  style="max-width: 200px; padding: 40px 20 px;">
                <option th:each="autor: ${autores}" th:value="${autor.idAutor}" th:text="${autor.nombreApellidos}"></option>
            </select>
             </label>
             </div>

            <div class="form-group">
                <label> Autores seleccionados: 
                <select id="autoresSeleccionados"  style="max-width: 200px; padding: 40px 20 px;" th:field="*{idAutor}"  class="form-control" multiple="multiple" onclick="eliminaOpcionSeleccionada()">
                </select>
                </label>
            </div>
			</div>

            <div th:if="${#fields.hasErrors('idAutor')}" class="alert alert-danger" role="alert" style="max-width: 300px; padding: 40px 20 px;">
            Debe ingresar al menos un autor</div>

			<div class="form-group">
            <label> Precio:
                <input type="number" th:field="*{precio}" class="form-control" placeholder="Precio">
            </label>
            </div>

		 	<div th:if="${#fields.hasErrors('precio')}" class="alert alert-danger" role="alert" style="max-width: 300px; padding: 40px 20 px;">
		 	Debe ingresar un precio mayor a 1</div>

            <div style "clear:both; display:block; height:10px;"></div>
            <button type="submit" class="btn btn-default" >Salvar</button>
        </form>
	</div>

    </div>

    <script type="text/javascript">
        function muestraAutoresSeleccionados() {
            var autoresDisponibles = document.getElementById("autoresDisponibles");
            var autoresSeleccionados = document.getElementById("autoresSeleccionados");
            for (i = 0; i < autoresDisponibles.length; i++) {
                currentOption = autoresDisponibles[i];
                if (currentOption.selected == true) {
                    autoresSeleccionados.options[autoresSeleccionados.options.length] =
                        new Option(currentOption.innerHTML, currentOption.value, false, false);

                    autoresDisponibles.remove(i);
                    break;
                } // end if
            } // end for     
        } // end muestraAutoresSeleccionados
    </script>

    <script type="text/javascript">
        function eliminaOpcionSeleccionada() {
            var autoresSeleccionados = document.getElementById("autoresSeleccionados");
            var autoresDisponibles = document.getElementById("autoresDisponibles");

            var tamanoLista = autoresSeleccionados.options.length;
            for (i = 0; i < tamanoLista; i++) {
                currentOption = autoresSeleccionados[i];

                if (currentOption.selected == true) {
                    autoresDisponibles.options[autoresDisponibles.options.length] =
                        new Option(currentOption.innerHTML, currentOption.value, false, false);

                    autoresSeleccionados.remove(i);
                    break;
                }

            }
        }
    </script>

    <script type="text/javascript">
        function seleccionaTodos() {
            var autoresSeleccionados = document.getElementById("autoresSeleccionados");
            var tamanoLista = autoresSeleccionados.options.length;
            for (i = 0; i < tamanoLista; i++) {
                currentOption = autoresSeleccionados[i];
                currentOption.selected = true;

            }
        }
    </script>

</body>

</html>